

@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

<hr />

<h2 class="text-danger h2">Delete User</h2>
<hr />
<h3 class="h3 text-danger">Are you sure you want to delete this?</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger mb-1" /> 
           
            <div>@Html.ActionLink("Back to List", "ListUsers", null, new { @class="btn btn-danger"})</div>  
        </div>
    }
</div>
