@model EC.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

<hr />
    <h2 class="h2">@Model.Description</h2>
<hr />
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger white" /> |
                <div class="btn btn-danger white">@Html.ActionLink("Back to List", "Index")</div>
            </div>
        }
    </div>
